body{background: aquamarine;}
table{border: solid 8px black;font-size: 25px;width: 100%;text-align: center;border-collapse: separate;background-color: white;border-spacing: 5px 20px;}
td{border: solid 8px crimson;border-collapse: collapse;}
tr:last-child{background: cyan;}
tr:nth-child(3){background: hotpink;}
th:first-child{background: orange;} 
th:last-child{background: lime;}
tr:last-child td:first-child{background: blue;}
tr:last-child td:last-child{background: lightgreen;}
tr:nth-child(2) td:nth-child(3){background: violet;}
tr:hover{background: lime;}